<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="cn.dennishucd"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />	
	<uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:icon="@drawable/icon"
        android:label="LifeEnergy"
        android:name="cn.dennishucd.cache.LifeApplication"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="org.achartengine.GraphicalActivity" />
        <activity 
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:name=".activity.LoginActivity" >
        </activity>
         <activity 
            android:name=".activity.VideoRecordActivity" >
        </activity>
        <activity 
            android:name=".FFmpeg4AndroidActivity" >
        </activity>
         <activity 
            android:name=".activity.ChartBuilderActivity" >
        </activity>
          <activity 
            android:name=".activity.RegisterActivity" >
        </activity>
         <activity 
            android:name=".activity.VoiceSearchActivity" 
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".activity.Grallery3DActivity" 
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.ScrollActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.SexangleActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.CommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChangeWallpagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditSignatureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.ContactsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.FriendFindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DiaryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoAvatarDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoPictureDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoCommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.PhotoCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
         <activity
            android:name=".activity.VideoPlayActivity"
            android:screenOrientation="portrait" >
        </activity>
       <activity
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:name=".activity.VideoUploadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WriteDiaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.FriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.VisitorsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FriendInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.ChatLogsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SendGiftActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SelectGiftActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SelectFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.VoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DeletePhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhoneAlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterCropActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterEffectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterFrameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterFaceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WriteRecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CheckInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.SetUpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ExportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        
            

        
		
		<activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
         
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- 
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data android:name="AuthorizeAdapter" android:value="cn.sharesdk.demo.MyAdapter" />
        </activity>
        
        
        
        
    </application>
</manifest>